/* cin.css */
h1 {
    font-size: 36px;
    color: forestgreen;
    text-align: right;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightyellow;
}

p {
    color: darkgreen;
    font-size: 18px;
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block;
    border: 3px dashed;
}